
<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
<body>
	<h1>Register</h1>

	<% if (typeof errors !== 'undefined' && errors.length > 0) { %>
		<ul style="color: red;">
			<% errors.forEach(err => { %>
				<li><%= err.msg %></li>
			<% }) %>
		</ul>
	<% } %>
	
	<form method="POST" action="/register">

		<label>Username</label><br/>
		<input type="text" name="username" required /><br/>

		<label>Email</label><br/>
		<input type="email" name="email" required /><br/>

		<label>Password</label><br/>
		<input type="password" name="password" required /><br/>

		<label>First Name</label><br/>
		<input type="text" name="name" /><br/>

		<label>Surname</label><br/>
		<input type="text" name="surname"><br/>

		<label>Description</label><br/>
		<textarea name="description" rows="6"></textarea><br/>

		<button type="submit">Register</button>
	</form>

	<p>Already have an account? <a href="/login">Login</a></p>
</body>
</html>

